<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaoCao.Properties.Settings.hsvClinicConnectionString"
            connectionString="Data Source=14.161.32.208\hsvdb;Initial Catalog=hsvClinic;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>